<%-include('templates/head')%>


<h1>Hasta Luego <%=name%></h1>
<a href="/login"><button class="btn btn-primary">Login</button></a>
<a href="/"><button class="btn btn-primary">Register</button></a>

<%-include('templates/footer')%>

</body>
</html>